.rc-pagination {
  font-size: 15px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0 !important;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  > li {
    background-color: rgba(51, 57, 64, 1);
    list-style: none;
  }
}
//51 57 64
.rc-pagination-total-text {
  float: left;
  height: 30px;
  line-height: 30px;
  list-style: none;
  padding: 0;
  margin: 0 8px 0 0;
}

.rc-pagination:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.rc-pagination-item {
  cursor: pointer;
  border-radius: 2px;
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  list-style: none;
  float: left;
  border: 1px solid #d9d9d9;
  background-color: rgba(51, 57, 64, 1);
  margin-right: 2px;
  transition: all ease-in 170ms;
  a {
    text-decoration: none;
    color: #666;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    border: none;
    a {
      color: white;
    }
  }
}

.rc-pagination-item-disabled {
  cursor: not-allowed;
  &:hover {
    border-color: #d9d9d9;
    a {
      color: #d9d9d9;
    }
  }
}

.rc-pagination-item-active {
  background: rgba(255, 255, 255, 0.1) !important;

  a,
  &:hover a {
    border: none;
  }
}

.rc-pagination-jump-prev:after,
.rc-pagination-jump-next:after {
  content: "\2022\2022\2022";
  display: block;
  letter-spacing: 2px;
  color: #ccc;
  font-size: 12px;
  margin-top: 1px;
}

.rc-pagination-jump-prev:hover:after,
.rc-pagination-jump-next:hover:after {
  color: #2db7f5;
}

.rc-pagination-jump-prev:hover:after {
  content: "\AB";
}

.rc-pagination-jump-next:hover:after {
  content: "\BB";
}

.rc-pagination-jump-prev-custom-icon,
.rc-pagination-jump-next-custom-icon {
  position: relative;
}

.rc-pagination-jump-prev-custom-icon:after,
.rc-pagination-jump-next-custom-icon:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 0.2s;
  content: "\2022\2022\2022";
  opacity: 1;
  display: block;
  letter-spacing: 2px;
  color: #ccc;
  font-size: 12px;
  margin-top: 1px;
}

.rc-pagination-jump-prev-custom-icon .custom-icon-jump-prev,
.rc-pagination-jump-next-custom-icon .custom-icon-jump-prev,
.rc-pagination-jump-prev-custom-icon .custom-icon-jump-next,
.rc-pagination-jump-next-custom-icon .custom-icon-jump-next {
  opacity: 0;
  transition: all 0.2s;
}

.rc-pagination-jump-prev-custom-icon:hover:after,
.rc-pagination-jump-next-custom-icon:hover:after {
  opacity: 0;
  color: #ccc;
}

.rc-pagination-jump-prev-custom-icon:hover .custom-icon-jump-prev,
.rc-pagination-jump-next-custom-icon:hover .custom-icon-jump-prev,
.rc-pagination-jump-prev-custom-icon:hover .custom-icon-jump-next,
.rc-pagination-jump-next-custom-icon:hover .custom-icon-jump-next {
  opacity: 1;
  color: #2db7f5;
}

.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  margin-right: 2px;
}

.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  cursor: pointer;
  color: #666;
  font-size: 15x;
  font-weight: 600;
  border-radius: 2px;
  list-style: none;
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  float: left;
  text-align: center;
  transition: all ease-in 170ms;
  &:hover {
    border-color: #2db7f5;
    a {
      color: black;
    }
  }
}

.rc-pagination-prev a:after {
  content: "\2039";
  display: block;
}

.rc-pagination-next a:after {
  content: "\203A";
  display: block;
}

.rc-pagination-prev,
.rc-pagination-next {
  border: 1px solid #d9d9d9;
  font-size: 18px;
}

.rc-pagination-prev a,
.rc-pagination-next a {
  color: #666;
}

.rc-pagination-prev a:after,
.rc-pagination-next a:after {
  margin-top: -1px;
}

.rc-pagination-disabled {
  cursor: not-allowed;
  a {
    color: #ccc;
  }
}

.rc-pagination-options {
  float: left;
  margin-left: 15px;
}

.rc-pagination-options-size-changer {
  float: left;
  width: 80px;
}

.rc-pagination-options-quick-jumper {
  float: left;
  margin-left: 16px;
  height: 28px;
  line-height: 28px;
  input {
    margin: 0 2px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    outline: none;
    padding: 3px 12px;
    width: 50px;
    height: 28px;
    &:hover {
      border-color: #2db7f5;
    }
  }
  button {
    display: inline-block;
    margin: 0 8px;
    font-weight: 500;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 12px;
    border-radius: 6px;
    height: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    background: rgba(255, 255, 255, 0.1) !important;
    border-color: #d9d9d9;
    &:hover,
    &:active,
    &:focus {
      color: #2db7f5;
      background-color: #fff;
      border-color: #2db7f5;
    }
  }
}

.rc-pagination-simple {
  .rc-pagination-prev,
  .rc-pagination-next {
    border: none;
    height: 24px;
    line-height: 24px;
    margin: 0;
    font-size: 18px;
  }
  .rc-pagination-simple-pager {
    float: left;
    list-style: none;
    .rc-pagination-slash {
      margin: 0 10px;
    }
    input {
      margin: 0 8px;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.1) !important;
      border-radius: 6px;
      border: 1px solid #d9d9d9;
      outline: none;
      padding: 5px 8px;
      min-height: 20px;
      &:hover {
        border-color: #2db7f5;
      }
    }
    button {
      display: inline-block;
      margin: 0 8px;
      font-weight: 500;
      text-align: center;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 0 8px;
      font-size: 12px;
      border-radius: 6px;
      height: 26px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      position: relative;
      color: rgba(0, 0, 0, 0.65);
      background: rgba(255, 255, 255, 0.1) !important;
      border-color: #d9d9d9;
      &:hover,
      &:active,
      &:focus {
        color: #2db7f5;
        background-color: #fff;
        border-color: #2db7f5;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .rc-pagination-item-after-jump-prev,
  .rc-pagination-item-before-jump-next {
    display: none;
  }
}

/*# sourceMappingURL=rc-pagination.css.map*/
